<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
	<head> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
		<meta name="keywords" content="Contact Manager, Relationship Manager, walia" /> 
<link rel="shortcut icon" href="/images/rails.png" /> 


<%=javascript_include_tag :defaults %> <%#original%>
<%=javascript_include_tag "prototype"%>
<%#<script type="text/javascript" src="/javascripts/context-disable.js"></script>%><%#disable rt.click%>
<style type="text/css">@import url(/javascripts/calendar-win2k-1.css);</style>
<script type="text/javascript" src="/javascripts/calendar.js"></script>
<script type="text/javascript" src="/javascripts/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/calendar-setup.js"></script>
<script type="text/javascript" src="/javascripts/combo-box.js"></script>

<%=stylesheet_link_tag 'scaffold'%>

<title>REPLY MAIL: RELATIONSHIPMANAGER:</title>
</head>





    <body id="user_mailer_reply">
      
<%=@message%>
            

           

            
     
    </body>
</html>

