
/* for class put as .border{}*/

 /* HERE STARTS ACTUAL CSS ABOVE ARE ONLY EXAMPLES*/ 
body, select, input, textarea {  
    /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */  
    color: #444;  
    /* set your base font here, to apply evenly */  
    /* font-family: Georgia, serif;  */  
}  


.entry-title a:link,
.entry-title a:visited {
	color: #fb2A16;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #393b3b;
}

.entry-head {
	position:relative;
	padding-bottom:8px;
	background:url(public/images/rails.png) no-repeat bottom left;
}


h20 {font-size:9.0pt;font-family:"Times New Roman";}

/*body { background-color: #fff; color: #333; }*/

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

div.ListTable{text-align: right; padding-bottom: 1em;}

.ListTable{ text-align: right; padding-bottom: 1em;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:link { text-decoration: underline;color: #520052; }
a:visited { color: #666; }
a:hover { color:#FF0000; background-color:gold; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}


#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

div.notice {
background-color: #yellow;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 40%;
	border: 5px solid #ccc;
	margin-top: 50px;
	padding: 20px;
	font-weight: bold;
}

.normal
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    FONT: lighter small Verdana, Arial, 'MS Sans Serif';
    TEXT-TRANSFORM: none;
    COLOR: #000000;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}


.rightalign {padding-right: 5em; font-size:8.0pt;
 font-family:"Times New Roman", Times, serif; text-align: center; media:screen;} 

.ListTitle { color: #244; font-weight: bold; font-size: larger; }
.ListActions {  text-align: right; padding-left: 1em; height:1em; }

#seperator {border-bottom: 0.5px solid; 
 border-color: blue;}

#notice { background: #yellow; padding-top: 0px; padding-bottom: 0.5px; border-bottom: 0.5px solid; 
 border-color: red; text-align: center; font: bold 3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
	
#last_login { background-color: yellow; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}	
	
	
#ok_msg { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#ok_msg1 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg1 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#ok_msg2 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg2 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#ok_msg3 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg3 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#ok_msg4 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg4 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#ok_msg5 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg5 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#ok_msg6 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg6 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#ok_msg7 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:green;	}

#error_msg7 { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; text-decoration:underline; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}


#error_blink { background: #white; padding-top: 0px; padding-bottom: 0.5px; border: 0.5px solid; 
 border-color: white; text-align: center; text-decoration:blink; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color:red;	}

#bannerold { background: #FDD017; padding-top: 0px; padding-bottom: 0.5px; border-bottom: 0.5px solid; 
 color: #B93B8F;#660066 text-align: center; font: bold 3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	}
#bannerold1 { background:#660066 ; padding-top: 0px; padding-bottom: 0.5px; border-bottom: 0.5px solid; 
 color: #FF0000; text-align: center; font: bold 3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	}
	
#left1 {  background: #FDD017; padding-top: 0px; padding-bottom: 2px; border-bottom: 0px solid; 
  color:#520052; font: bold 1.1em  "Arial", serif;   text-align: left;
  	}	
	

#banner { background:#520052 ; padding-top: 0px; padding-bottom: 0.5px; border-bottom: 0.5px solid; 
 color: #FF0000; text-align: center; font:bold 3.2em "Georgia", Times, serif;
	}

#banner1 { background: #FDD017; padding-top: 0px; padding-bottom: 2px; border-bottom: 0.1px solid; 
  color: #520052;font: bold 0.95em  "Arial", serif;   text-align: center;}

#banner2 { background: red; padding-top: 0px; padding-bottom: 0px; border-bottom: 0.5px solid; 
 font: bold 0.85em  "Arial Narrow", serif;  color:gold ; text-align: center; }

#banner3 {  border: 1.5px solid; border-color: #B93B8F; color: #B93B8F;font: bold 0.85em  "Arial", serif;   text-align: center;}

#banner4 { background: #FDD017; border: 2.5px solid; border-color: #B93B8F; font: bold 0.85em  "Arial", serif; color:#520052;  text-align: center;}

#banner img{float: left;}

#columns { background: #FDD017;}
#main {margin-left: 15em;
	padding-top: 4ex;
	padding-left: 1em;
	background: white; }
#side { float: left; padding-top: 1em; padding-left: 1em; padding-bottom: 1em;  width:12em; background: #FDD017;
 text-align: center;}
 
 #side1 { float: left; padding-top: 1em; padding-left: 1em; padding-bottom: 1em;  width:12em; background: #FDD017;
 text-align: center;}

.ListTitle { color: #244; font-weight: bold; font-size: larger; }
.ListActions { text-align: right; padding-left: 1em; height:1em; }
.ListLine0old {background: #999; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}
.ListLine1old {background: #998; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}

.ListLine0purple {background:#7D267D; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:White; height:1em;}
.ListLine1purple {background:#660066; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:White; height:1em;}

.ListLine0indigo {background:	#3C0068; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:White; height:1em;}
.ListLine1indigo {background:#4B0082; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:White; height:1em;}

.ListLine0 {background:#470047; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:White; height:1em;}
.ListLine1 {background:#520052; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:White; height:1em;}

.ListLine0lightblue {background: #AFEEEE; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}
.ListLine1darkblue {background: #B0E0E6; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}


.ListLine0Whitefontblue {background: #FFFACD; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}
.ListLine1Whitefontblue {background: CornSilk; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}

.ListLine0Cream {background: #FED47A; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}
.ListLine1Cream {background: #FED680; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}
.ListLineReqdCream {background-color:#FED47A ; margin-bottom: 0.0ex; border-width:1px;
  border-style:solid;  border-color:red yellow;font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}	
	
.ListLine0White {background:#FFFFC2; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}
.ListLine1White {background:#FFFFCC; margin-bottom: 0.0ex; font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}
.ListLineReqdWhite {background-color:#FFFFAD; margin-bottom: 0.0ex; border-width:1px;
  border-style:solid;  border-color:red yellow;font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}


.ListLineNew {background:#998; margin-bottom: 0.0ex; border-width:1px;
border-style:solid;  border-color:yellow;font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}

.ListLineReqd {background: #999; margin-bottom: 0.0ex; border-width:1px;
  border-style:solid;  border-color:red yellow;font: "Arial Narrow"; font-size: 10.0pt.; color:#01004e; height:1em;}


.Title{background-color:yellow; text-align: center; font: bold 1.2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color:#520052;}


navigation_bar1 {display: none} 

<!--//The code to hide objects is: -/>

navigation_bar1 {visibility: hidden}

table.widetable { width: 700px; padding-top:2em; padding-right:2em; 	padding-bottom: 1em; padding-left: 2em; 
font-size:1em; empty-cells:show; border: 1px; table-layout:fixed; page-break-after:always; }
tbody.noborder {border:none;}
tbody.noborderall{border: 1px;}
table.wide-table1 { width:60%; font-size:1em; empty-cells:show; border: 1px; table-layout:fixed; }
tr.noborder {border-top:none; border-bottom:none; background: #F5FAFA;}
tr.noborder1 {border-top:none; border-bottom:none; background: white;}
tr.noborder4 {border: 1px; background: white;}
tr.noborderall {border: 1px; background: white;}
td.alt {background: #F5FAFA; color: #797268;}

td.bottomlineblue{border-top:none; font-size: 0.85em; border-bottom-width:2px;
  border-bottom-style:solid;  border-bottom-color:blue;}
  
td.bottomline{border-top:none; font-size: 0.85em; border-bottom-width:2px;
  border-bottom-style:solid;  border-bottom-color:#520052;}  

td.bottomline1{border-top:none; font-size: 0.85em; border-bottom-width:2px;
  border-bottom-style:solid;  border-bottom-color:#000000;}
  
td.nobordertop{border-top:none; font-size: 0.85em; border-bottom-width:1px;
  border-bottom-style:solid;  border-bottom-color:#000000;}
td.noborderbottom{border-bottom:none;font-size: 0.85em;}	
td.noborder {border-top:none; border-bottom:none;font-size: 0.85em; }
td.noborderright {border-top:none; border-bottom:none;font-size: 0.85em;}
td.nobordersum {border-top-width:1px;  border-top-style:solid;  border-top-color:#000000; 
padding-left:0px; font-size: 0.85em; font-weight:bold;  border-bottom-width:1px;
  border-bottom-style:solid;  border-bottom-color:#000000; }

td.noborderall1 {border-top-width:1px;  border-top-style:solid;  border-top-color:#000000;
border-right-width:1px;  border-right-style:solid;  border-right-color:#330000;
border-left-width:1px;  border-left-style:solid;  border-left-color:#000000; 
padding-left:0px; font-size: 0.85em; font-weight:bold;  border-bottom-width:1px;
  border-bottom-style:solid;  border-bottom-color:#000000; }
td.noborderall {border-top-width:1px;border-bottom-width:1px; background: white;}

td.nobordersumamt {border-top-width:2px;  border-top-style:solid;  border-top-color:#000000;
border-right-width:2px;  border-right-style:solid;  border-right-color:#330000;
border-left-width:2px;  border-left-style:solid;  border-left-color:#000000; 
padding-left:0px; font-size: 0.85em; font-weight:bold;  border-bottom-width:2px;
  border-bottom-style:solid;  border-bottom-color:#000000; }
 
table.widetable2 { width: 880px; padding-top:2em; padding-right:2em; 	padding-bottom: 1em; padding-left: 2em; 
font-size:1em; empty-cells:show; border: 1px; table-layout:fixed; }
 
table.widetable3 { width: 880px; padding-top:2em; padding-right:2em; 	padding-bottom: 1em; padding-left: 2em; 
font-size:1em; empty-cells:show; border: 1px; table-layout:fixed; page-break-after:always; }

table.widetable4 { width: 880px; padding-top:2em; padding-right:2em; 	padding-bottom: 1em; padding-left: 2em; 
font-size:1em; empty-cells:show; border: 1px; table-layout:fixed; page-break-before:always;  }

td.noborder4 {border:none; font-size: 0.6em;}

tr.noborderall{border: 1px;}

td.noborder1 {border-bottom:none; font-size: 0.85em;}
td.cell {display: table-cell;border: 1px solid black;padding: 1em; width: 12.5%;}

.buttonpurple {background-color:#520052; border:solid, border-width:4px;border-color:Red; font-size: 10.0pt.; color:#FF0000; height:2em; text-align: center;
  font-weight: bold;}
 .buttonblue {background-color:#191970; border:solid, border-width:4px;border-color:Red; font-size: 10.0pt.; color:#FF0000; height:2em; text-align: center;
  font-weight: bold;} 
 
.button {background-color:#520052; border:solid, border-width:4px;border-color:Red; font-size: 10.0pt.; color:White; height:2em; text-align: center;
  font-weight: bold;}
 
.buttonred {background-color:Maroon; border:solid, border-width:4px;border-color:Red; font-size: 10.0pt.; color:White; height:2em; text-align: center;
  font-weight: bold;}
  
.buttonblack{background-color:#290014; border:solid, border-width:6px;border-color:Red; font-size: 10.0pt.; color:#FF0000; height:2em; text-align: center;
  font-weight: bold;}