<h5>Home#index</h5>
<%#<p>Find me in app/views/home/index.html.erb</p>%>



====================================================================================<br/>
<h1> WELCOME! WALIA's LIST:!</h1>
<b><u>HEROKU:</b></u>
<a href="http://walia.heroku.com/categories/">CATEGORIES</a><br /><br /><br/> 
<a href="http://walia.heroku.com/labels/">LABELS</a><br /><br /><br/> 
<a href="http://walia.heroku.com/contacts/">CONTACTS</a><br /><br /><br/> 

<b><u>LOCAL:</b></u>
<%=link_to "CATEGORIES", '/categories' %> ENTER CATEGORIES: <br/><br /><br/>
<%=link_to "LABELS", '/labels' %>	ENTER LABELS: <br/><br /><br/>
<%=link_to "CONTACTS", '/contacts' %>	ENTER CONTACTS: <br/><br /><br/>