<h5>Home#index</h5>
<%#<p>Find me in app/views/home/index.html.erb</p>%>



====================================================================================<br/>
<h1> WELCOME!!! TO  WALIA's RELATIONSHIP MANAGER:!</h1>

<b><u>HEROKU:</b></u>
<a href="http://relationshipmanager.heroku.com/categories/">CATEGORIES</a><br /><br /><br/> 
<a href="http://relationshipmanager.heroku.com/labels/">LABELS</a><br /><br /><br/> 
<a href="http://relationshipmanager.heroku.com/contacts/">CONTACTS</a><br /><br /><br/> 


<b><u>LOCAL:</b></u>
<%=link_to "CATEGORIES", '/categories' %> ENTER CATEGORIES: <br/><br /><br/>
<%=link_to "LABELS", '/labels' %>	ENTER LABELS: <br/><br /><br/>
<%=link_to "CONTACTS", '/contacts' %>	ENTER CONTACTS: <br/><br /><br/>


<br/>
###########################################################################<br/>

<h1>WELCOME HOME , </h1> 
<h4><%#=newperson%> </h4>
<body>
<p><u> New Users click here for registeration</p></u>

<%#= start_form_tag ({:action => "login"}, :multipart=> true) %>
<br/>  ------------------------------------------------------
<p><b><u>PLEASE LOGIN :</p></u>
<p> USERNAME     :<%#=text_field "u", "U1"%><br/>
PASSWORD :<%#=text_field "p","P1"%></p>
<%#=submit_tag ("       Login            ")%>
<%#= end_form_tag %>

<br/>=========================================================<br/>

</body>
</html>
