<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%=javascript_include_tag :defaults %>
<style type="text/css">@import url(/javascripts/calendar-win2k-1.css);</style>
<script type="text/javascript" src="/javascripts/calendar.js"></script>
<script type="text/javascript" src="/javascripts/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/calendar-setup.js"></script>
<script type="text/javascript" src="/javascripts/combo-box.js"></script>

<title><h3>New Contacts</h3></title>
<u><h2> New Contacts</h2></u>
</head>

<body>
<b><a href="javascript:self.close()">CLOSE WINDOW</a></b>
<% form_tag :action =>'createmultiple' do -%>
  <%= render :partial=>"formquickentry" %>
    <br/>
    <b>
    <%=submit_tag ("       Create New Multiple Records            ")%>
      </b>
  <br />
=========================================================
<%end %>
</body>
</html>